
.c-titleSection {
  margin-bottom: setvwpc(45px);
  font-size: 3.4rem;
  font-weight: 700;
  letter-spacing: 0.1em;

  span {
    display: block;
    color: #9b9b9b;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
