// --------------------
// Top page
// --------------------

.page-top{
    .banner-container{
        height: 780px;
        display: flex;
        align-items: center;
        background: url('../images/bg_banner.jpg');
        background-size: cover;
        position: relative;
        .container{
            .text-container{
                h2{
                    color: white;
                    font-size: 74px;
                }
                p{
                    color: white;
                    font-size: 20px;
                }
            }
        }
        .new-bottom{
            position: absolute;
            bottom:0;
            left: 0;
            right: 0;
            width: 100%;
            background-color: white;
            box-shadow: 0 4px 20px 0 rgba(107,107,107,.2);
            ul{
                padding: 27px 37px;
                li{
                   b{
                       font-size: 16px;
                       font-weight: bold;
                       padding-right: 35px;
                   } 
                   span{
                       color: #e88200;
                       padding-right: 15px;
                       font-weight: bold;
                   }
                   a{
                       font-size: 15px;
                   }
                }
            }
        }
    }
}