// --------------------
// Top page
// --------------------

.page-top {
    // background-color: red;
    
}

.mv-section {
    &-inner {
        position: relative;
        background-image: url('../images/common/slide.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: #fff;
        height: 890px;

        .container {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding-top: 17.5%;
            z-index: 9;
        }

        h2 {
            @include fs(74,86);
            width: 100%;
            font-weight: bold;
            letter-spacing: 9px;
            margin-bottom: 28px;
            padding: 0 10px;
        }

        p {
            @include fs(20,34);
            width: 100%;
            letter-spacing: 4px;
            padding: 0 18px;
        }

        .news-block {
            box-shadow: 0px 4px 20px 0px rgba(107, 107, 107, 0.2);
            position: absolute;
            bottom: 68px;
            color: #000;
            background-color: #fff;
            left: 0;
            right: 0;
            padding: 27px 37px;
            z-index: 999;

            b {
                font-weight: 700;
                font-size: 16px;
                letter-spacing: 1px;
                margin-right: 10px;
                margin-right: 37px;
            }
            span {
                font-weight: 500;
                letter-spacing: 1px;
                margin-right: 14px;
                color: $color-orange;
            }
            a {
                letter-spacing: 2.5px;
                @include bp(tab) {
                    width: 100%;
                    display: block;
                }
            }
        }
    }
}

.heading-section {
    text-align: center;
    @include fs(34, 40);
    margin-bottom: 45px;
    
    span {
        display: block;
        @include fs(15, 22);
        color: #9b9b9b;
        font-weight: bold;
    }
}

.featured-section {
    background-color: #ededf0;
    padding: 18px 0 225px;
}

.featured-list {
    @include flexbox;
    @include justify-content(space-between);
    margin: 0 -50px;
    
    .slick-list {
        width: 100%;
    }

    .slick-slide {
        position: relative;
        .slide-inner {
            padding: 0 50px;
            
            .img {
                width: 84.6%;
                height: 328px;
                background-repeat: no-repeat;
                background-size: auto 100%;
                background-position: center;
                @include bp(tab) {
                    width: 100%;
                }
            }
        }

        .featured-content {
            position: absolute;
            right: 0;
            left: 41.3%;
            bottom: -3px;
            background-color: #ededf0;
            padding: 24px 80px 7px 29px;

            .featured-title {
                margin-bottom: 7px;
                letter-spacing: 2.8px;
                line-height: 24px;
            }

            .featured-date {
                color: $color-orange;
                font-weight: 500;
                @include fs(12,22);
                padding-left: 4px;

                span {
                    @include fs(11,20);
                    color: #9b9b9b;
                    font-weight: normal;
                    margin-left: 11px;
                }
            }
        }
    }
}