.p-footer {
  padding: 40px 0;
  color: white;
  text-align: center;

  &_goTop {
    position: relative;
    color: white;

    &::before {
      content: " ";
      position: absolute;
      top: -40px;
      right: 0;
      left: 0;
      width: 1px;
      height: 42px;
      margin: 0 auto;
      background: white;
      text-align: center;
    }
  }

  &_copyright {
    padding-top: 15px;
    color: #aeaeb1;
    font-size: 1.2rem;
  }
}
