.p-mainContact {
  padding: setvwpc(90px) 0 setvwpc(80px) 0;
  background-color: white;
  box-shadow: 4px 0 20px 0 rgba(50, 50, 50, 0.3);

  &_title {
    text-align: center;

    &_para {
      padding: 0 10px;
      font-size: 1.6rem;
      letter-spacing: 0.1em;

      @include mq_down(sp) {
        font-size: 1.2rem;
      }

      span {
        color: $color_orange;
      }
    }

    &_linkContact {
      display: flex;
      justify-content: center;
      padding-top: 20px;
    }
  }

  &_form {
    margin: setvwpc(55px) setvwpc(125px) 0 setvwpc(125px);

    @include mq_down(sp) {
      margin: setvw(35px) setvw(15px) 0 setvw(15px);
    }

    &_faq {
      &_head {
        &_name {
          position: relative;
          z-index: 2;
          font-size: 2rem;
          text-align: center;

          &::before {
            content: " ";
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            border-bottom: 1px solid #d5d5d5;
          }

          span {
            padding: 0 70px;
            background: white;
            font-weight: 700;
          }
        }
      }

      &_block {
        border-bottom: 1px solid #d5d5d5;
      }
    }

    &_inquiry {
      padding-top: 65px;

      &_head {
        &_name {
          position: relative;
          z-index: 2;
          font-size: 2rem;
          text-align: center;

          span {
            font-weight: 700;
          }
        }
      }

      &_btnSend {
        display: flex;
        justify-content: center;
        margin-top: 40px;
      }
    }
  }
}
