.p-mainSocial {
  &_list {
    display: flex;
    justify-content: center;
    padding-top: setvwpc(70px);

    &_sns {
      padding: 0 10px;

      a {
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
