.p-topNews {
  padding: setvwpc(110px) 0 setvwpc(90px) 0;

  &_title {
    text-align: center;
  }

  &_content {
    &_list {
      &_item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: setvwpc(37px) setvwpc(30px);
        border-bottom: 1px solid #bebebe;

        span {
          display: block;
          width: setvwpc(165px);
          margin: 0 20px 0 12px;
          padding: 2px;
          border: 1px solid $color_orange;
          color: $color_orange;
          text-align: center;

          @include mq_down(sp) {
            width: setvw(165px);
          }
        }

        a {
          letter-spacing: 0.11em;

          @include mq_down(sp) {
            padding-top: setvw(10px);
          }
        }
      }
    }

    &_readMore {
      color: black;
      text-align: center;
    }
  }
}
