// --------------------
// Header
// --------------------
.header {
    .wrap-header {
        @include flexbox;
        @include justify-content(space-between);

        @include bp(0, 1023px) {
            padding: 7px 0 13px;
        }
    }

    .navMenu {
        > .dropdown-menu {
            @include bp(1024px) {
                display: block !important;
            }
        }
        .head-menu-items {
            > .menu-item {
                display: inline-block;
                text-align: center;
                padding: 36px 34px;
    
                a {
                    position: relative;
                    @include fs(17,17);
                    font-weight: 700;
                    display: block;
                    letter-spacing: 2.5px;

                    span {
                        display: block;
                        @include fs(10,10);
                        margin-top: 7px;
                        // color: #898989;
                    }
                }
            }
        }
    }

    &-logo {
        @include bp(1024px) {
            max-width: 241px;
            margin-left: 53px;
            padding: 17px 0 0;
        }
        
        @include bp(0, 1023px) {
            margin: 0 auto;
        }
        img {
            max-width: 241px;
            @include bp(0,1360px) {
                max-width: 200px;
            }
            @include bp(0, 1023px) {
                max-width: 145px;
            }
        }
    }
}