// --------------------
// Layout
// --------------------

body {
    width: 100%;
    color: $color-font-base;
    font-family: $global-font-family;
    @include fs(14,26);
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
    text-size-adjust: 100%;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    font-feature-settings: 'palt' 1;
    letter-spacing: 2px;
    word-wrap: break-word;
    @include bp(tab) {
      overflow: auto;
    }
}
a {
    @include transition(.2s all ease-in-out);
}
.only-pc {
    @include bp(tab) {
      display: none !important;
    }
}

.only-sp {
    @include bp(pc) {
      display: none !important;
    }
}
  
h2 {
    @include fs(34,50);
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
    @include bp(tab) {
      @include fs(20,30);
    }
}
h3 {
    @include fs(40,54);
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
    @include bp(tab) {
      @include fs(22,32);
    }
}
h4 {
    @include fs(22,32);
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.hidden {
    display: none !important;
}
.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    position: relative;
}

.only-tab {
  @include bp(1024px) {
      display: none !important;
  }
}